---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Button } from "free-astro-components";
import { Image } from "astro:assets";
import chshimage from "../../src/content/blog/Chsh-illustration2.png";
import chshimage2 from "../../src/content/blog/chshBases.png";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>CHSH Tinkerer</h1><br />

      <p>hi</p>

      <svg id="dataviz_area" height="200" width="450"></svg>

      <script src="http://d3js.org/d3.v7.min.js" charset="utf-8"></script>
      <script>
        var svg = d3.select("#dataviz_area");
        svg
          .append("circle")
          .attr("cx", 40)
          .attr("cy", 2)
          .attr("r", 40)
          .style("fill", "cyan");
        svg
          .append("circle")
          .attr("cx", 140)
          .attr("cy", 70)
          .attr("r", 40)
          .style("fill", "red");
        svg
          .append("circle")
          .attr("cx", 300)
          .attr("cy", 100)
          .attr("r", 40)
          .style("fill", "green");
      </script>
      <Footer />
    </main>
    <br />
  </body>
</html>
