---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
//import { Select } from "free-astro-components";
import { Image } from "astro:assets";
import chshimage from "../../src/content/blog/Chsh-illustration.png";

let data1 = "test";
let data2 = "test";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>CHSH Tinkerer</h1>
			<Image src={chshimage} alt="chsh game" width="500" height="500" />

			<div>
				<label for="aliceStrategy">Alice Strategy:</label>
				<select id="aliceStrategy" name="aliceStrategy">
					<option value="1">a = 0</option>
					<option value="2">a = 1</option>
					<option value="3">a = x</option>
					<option value="4">a = !x</option>
				</select>

				<br /><br />

				<label for="bobStrategy">Bob Strategy:</label>
				<select id="bobStrategy" name="bobStrategy">
					<option value="1">b = 0</option>
					<option value="2">b = 1</option>
					<option value="3">b = y</option>
					<option value="4">b = !y</option>
				</select>
				<script>
					var aliceselectedText = 1;
					// Alice dropdown alert
					document
						.getElementById("aliceStrategy")
						.addEventListener("change", function () {
							alert("Alice selected value: " + this.value);
							aliceselectedText = this.value;
						});

					// Bob dropdown alert
					var bobselectedText = 1;
					document
						.getElementById("bobStrategy")
						.addEventListener("change", function () {
							bobselectedText = this.value;
							alert(
								"Bob selected value: " +
									bobselectedText +
									" Alice has " +
									aliceselectedText,
							);
						});
				</script>
				<style>
					.table_component {
						overflow: auto;
						width: 100%;
					}

					.table_component table {
						border: 1px solid #dededf;
						height: 100%;
						width: 100%;
						table-layout: fixed;
						border-collapse: collapse;
						border-spacing: 1px;
						text-align: left;
					}

					.table_component caption {
						caption-side: top;
						text-align: left;
					}

					.table_component th {
						border: 1px solid #dededf;
						background-color: #e4e9ec;
						color: #000000;
						padding: 5px;
					}

					.table_component td {
						border: 1px solid #dededf;
						background-color: #ffffff;
						color: #000000;
						padding: 5px;
					}
				</style>
				<div class="table_component" role="region" tabindex="0">
					<table>
						<caption>Computational Table</caption>
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th>Bob</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th></th>
								<th></th>
								<th>y = 0</th>
								<th>y = 1</th>
							</tr>
							<tr>
								<th>Alice</th>
								<th>x = 0</th>
								<td></td>
								<td id="data2"></td>
							</tr>
							<tr>
								<th></th>
								<th>x = 1</th>
								<td id="data1"></td>
								<td id="data2"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
