---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import react from "@astrojs/react";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div
				style="display:flex; align-items:center; justify-content:center;"
			>
				<h1>CHSH Tinkerer</h1><br />
			</div>

			<div
				style="display:flex; align-items:center; justify-content:center;"
			>
				<h2>Quantum Entanglement<br />Strategy Tinkerer</h2>
			</div>
			<p>
				&vert;A<sub>0</sub>&rangle; = cos(&alpha;)&vert;0&rangle; +
				sin(&alpha;)&vert;1&rangle; and &vert;B<sub>0</sub>&rangle; =
				cos(&beta;)&vert;0&rangle; + sin(&beta;)&vert;1&rangle;
			</p>
			<div>
				
					<label>Alpha angle (degrees):</label>
					<input type="number" class="alpha" value="0" id="hi" />
					<br />
					Choose angle between &vert;A<sub>0</sub>&rangle; and &vert;A<sub
						>1</sub
					>&rangle; :

					<label>
						<input type="radio" name="alphadiffangle" value="+90" checked />
						+90째
					</label>
					<label>
						<input type="radio" name="alphadiffangle" value="-90" disabled/>
						-90째
					</label>
					<br />
					<br />
					<div>
						<label>Beta angle (degrees):</label>
						<input type="number" class="Beta" value="45" name="hi" />
						<br />
						Choose angle between &vert;B<sub>0</sub>&rangle; and
						&vert;B<sub>1</sub>&rangle; :

						<input type="radio" name="betadiffangle" value="+90" checked />
						+90째

						<label>
							<input type="radio" name="betadiffangle" value="-90" disabled/>
							-90째
						</label>
					</div>
					<button name="Submit">Update With New Values</button>
				
			</div>
		</main>
		<Footer />
	</body>
</html>
