---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Button } from "free-astro-components";
import { Image } from "astro:assets";
import chshimage from "../../src/content/blog/Chsh-illustration.png";
import chshimage2 from "../../src/content/blog/chshBases.png";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>CHSH Tinkerer</h1>
			<Image src={chshimage} alt="chsh game" width="500" height="500" />
			<p>
				Use an Quantum Entangled pair in order to increase chances of
				wining!<br />
				For this example, We will use |φ&#10093 = |00&#10093 + |11&#10093
				<br />
			</p>
			<Image src={chshimage2} alt="chsh game" width="500" height="500" />
			<p>
				We will make measurements on this qubit based on what Alex and
				Bob recieve from the Referee.
			</p>
			<div>
				<style>
					.table_component {
						overflow: auto;
						width: 100%;
					}

					.table_component table {
						border: 1px solid #dededf;
						height: 100%;
						width: 100%;
						table-layout: fixed;
						border-collapse: collapse;
						border-spacing: 1px;
						text-align: left;
					}

					.table_component caption {
						caption-side: top;
						text-align: left;
					}

					.table_component th {
						border: 1px solid #dededf;
						background-color: #e4e9ec;
						color: #000000;
						padding: 5px;
					}

					.table_component td {
						border: 1px solid #dededf;
						background-color: #ffffff;
						color: #000000;
						padding: 5px;
					}
				</style>
				<div class="table_component" role="region" tabindex="0">
					<table>
						<caption>Chart of Rotational Difference</caption>
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th>Bob</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th></th>
								<th></th>
								<th>y = 0</th>
								<th>y = 1</th>
							</tr>
							<tr>
								<th>Alice</th>
								<th>x = 0</th>
								<td>+𝝿 / 8 </td>
								<td>+𝝿 / 8</td>
							</tr>
							<tr>
								<th></th>
								<th>x = 1</th>
								<td>+𝝿 / 8</td>
								<td>+3𝝿 / 8</td>
							</tr>
						</tbody>
					</table>
					<p>Step 1) Alice recieves x, Bob gets y</p>
					<label for="aliceStrategy">Options:</label>
					<select id="aliceStrategy" name="aliceStrategy">
						<option value="1">a = 0, b = 0</option>
						<option value="2">a = 0, b = 1</option>
						<option value="3" disabled>a = 1, b = 0</option>
						<option value="4" disabled>a = 1, b = 1</option>
					</select>

					<p>
						We will assume that Alice will always measure what we
						choose in this example case, despite it being random
					</p>
					<label for="aliceStrategy"
						>Alice measures Qubit and gets :
					</label>
					<select id="aliceStrategy" name="aliceStrategy">
						<option value="1">|0&#10093</option>
						<option value="2">|1&#10093</option>
						<option value="3" disabled>|+&#10093</option>
						<option value="4" disabled>|-&#10093</option>
					</select>
					<p>
						There is an 85.36% that Alice and Bob get the correct
						output to the CHSH game.
					</p>
					<p>press the button to see if you'd succeed</p><button
						id="randombutton">Test!</button
					>

					<script>
						// Alice dropdown alert
						document
							.getElementById("aliceStrategy")
							.addEventListener("change", function () {
								const selectedText =
									this.options[this.selectedIndex].value;
								alert("Alice selected: " + selectedText);
							});
						document
							.getElementById("randombutton")
							.addEventListener("click", () => {
								
								if (Math.random() < 0.8536){
									 alert("Success");
								}
								else{
									alert("Fail");
								}
								
							});
						function hide(id) {
							let thingWeAreHiding =
								document.getElementById("id");
							thingWeAreHiding.style.visibility = "hidden";
						}

						function show(id) {
							let thingWeAreShowing =
								document.getElementById("id");
							thingWeAreShowing.style.visibility = "visible";
						}

						
						
						
					</script>
				</div>
				<br />
				<Footer />
			</div>
			<br />
		</main>
	</body>
</html>
