---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Select, Button } from "free-astro-components";
import { Image } from "astro:assets";
import chshimage from "../../src/content/blog/Chsh-illustration2.png";
import chshimage2 from "../../src/content/blog/chshBases.png";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div
				style="display:flex; align-items:center; justify-content:center;"
			>
				<h1>CHSH Tinkerer</h1><br />
			</div>
			<div
				style="display:flex; align-items:center; justify-content:center;"
			>
				<h2>Quantum Entanglement<br>Strategy Tinkerer</h2>
				
			</div>

			<div style="display:flex; align-items:center; justify-content:center;">
				<Image
					src={chshimage}
					alt="chsh game"
					width="500"
					height="500"
				/>
			</div>
		</main>
		<Footer />
	</body>
</html>
